h1.event-name {
    visibility: collapse !important;
}
.start-date.showIcon.ng-star-inserted {
    visibility: collapse !important;
}

.date-separator.ng-star-inserted {
    visibility: collapse !important;
}

.end-date.showIcon.ng-star-inserted {
    visibility: collapse !important;
